
#outstanding-products .carousel-control-prev,
#outstanding-products .carousel-control-next {
    width: 50px;
    height: 50px;
    background-color: #000;
    border-radius: 45px;
    margin-top: 150px;
}

#outstanding-products .carousel-control-prev {
    margin-left: 25px;
}

#outstanding-products .carousel-control-next {
    margin-right: 25px;
}

.image-container {
    position: relative;
    overflow: hidden;
}

.image-container:hover img {
    transform: scale(1.1);
    transition: transform .5s;
}

.image-container img{
    transition: transform .5s;
}


