#detail-product .carousel-inner > .item {
    position: relative;
    display: none;
    -webkit-transition: 0.2ms ease-in-out left;
    -moz-transition: 0.2ms ease-in-out left;
    -o-transition: 0.2ms ease-in-out left;
    transition: 0.2ms ease-in-out left;
}

#detail-product .img-detail ol{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}

#detail-product .img-detail ol img:active{
     border: solid 1px #b9b9b9;
 }

#detail-product .carousel-control-prev,
#detail-product .carousel-control-next {
    width: 50px;
    height: 50px;
    background-color: #000;
    border-radius: 45px;
    margin-top: 45%;
}

#detail-product .carousel-control-prev {
    margin-left: 25px;
}

#detail-product .carousel-control-next {
    margin-right: 25px;
}

/*select-size*/
#select-size{
    height: 50px;
    padding: 0;
    background: none;
    /*border: none;*/
    overflow-x:auto;
    overflow-y:auto;

}

#select-size:focus{
    outline: none;
}

#select-size option{
    display: inline-block;
    color: white;
    font-size: 16px;
    cursor: pointer;
    width: max-content;
    padding: 1% 5%;
    height: 100%;
    background-color: black;
}

.quantity{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: solid 1px #fff;
    height: 50px;
}

.add-cart{
    box-sizing: border-box;
    border: solid 1px #fff;
    height: 50px;
}

.quantity input{
    width: 36px;
    height: 100%;
    background-color: inherit;
    border: none;
    outline: none;
}

.btn-quantity{
    background-color: inherit;
    border: 0;
    color: white;
}

.btn-add-cart{
    height: 100%;
    width: 100%;
    background-color: #282828;
    color: white;
}

.btn-add-cart:hover{
    background-color: #fff;
    color: #000;
}

#note{
    color: #FEB31F;
}

#note:hover{
    color: #ffc249;
}


