#basic-navbar-nav a{
    text-align: center;
    font-size: large;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
    height: 50px;
    line-height: 50px;
    text-decoration: none;
}

#basic-navbar-nav a:hover{
    text-decoration-line: underline;
    text-decoration-thickness: 0.15rem;
    color: #FEB31F;
}

.icon-hover{
    color: white !important;
}

#login-out{
    padding: 0!important;
}

#login-out:hover, .icon-hover:hover{
    color: #FEB31F !important;
}



#toggle-menu{
    background: white;
}

#login-out{
    color: white;
}

.nav-dropdown-item:hover{
    background-color: #cccccc;
    text-decoration-line: none !important;
}

.nav-dropdown-item.active,
.nav-dropdown-item:active {
    background-color: black !important;
    color: white !important;
}


.dropdown-menu{
    --bs-dropdown-min-width: 6rem !important;
}

.modal-content{
    background-color: #282828 !important;
}


.modal-header{
    border-bottom: none;
}

@keyframes inputWrapper {
    from {
        transform: translateX(-40%);
    }
    to {
        transform: translateX(0);
    }
}

.input-wrapper {
    position: relative;
    display: inline-block;
    animation: inputWrapper 0.4s ease-out;
}

.input-wrapper input {
    padding-right: 40px;
}

.input-wrapper button {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.input-wrapper input:focus{
    outline: none;
    border-left: none;
    border-right: none;
}

.btn-close{
    background-color: white;
}
