#basic-navbar-nav .nav-link{
    font-size: large;
    font-weight: 600;
    text-transform: uppercase;
    color: white;

}

#basic-navbar-nav .nav-link:hover{
    text-decoration-line: underline;
    text-decoration-thickness: 0.15rem;
    color: #FEB31F;
}

.icon-hover{
    color: white !important;
}

#login-out:hover, .icon-hover:hover{
    color: #FEB31F !important;
}



#toggle-menu{
    background: white;
}

#login-out{
    color: white;
}

.nav-dropdown-item.active,
.nav-dropdown-item:active {
    background-color: black !important;
    color: white !important;
}

.dropdown-menu{
    --bs-dropdown-min-width: 6rem !important;
}